.card {
    width: 300px;
    height: 182px;
    background-color: white;
    padding: 2rem 1.5rem;
    margin: 1rem;
}

.card article {
    display: flex;
    align-items: center;
}

#city_card {
    font-size: 2rem;
}

.text_card {
    font-size: 1.6rem;
}

#temp {
    font-size: 4rem;
    font-weight: 700;
}

#time {
    font-size: 2rem;
}